h1.mt-5
  | フィードバック
= form_with model: @feedback, data: { turbo: false } do |f|
  .form-group.my-5.col-10.offset-1.col-md-8.offset-md-2.col-lg-6.offset-lg-3
    = f.label :text, Feedback.human_attribute_name(:text)
    = f.text_area :text, maxlength: 500, placeholder: '30〜500文字でお願いします🐾', class: 'form-control rounded-3 py-2 px-2 mt-3 feedback-input'
  .form-group.my-5
    = f.submit '🐾 送信 🐾', class: 'btn btn-secondary rounded-pill font-monospace'
