$reline-navbar-height: 3.5rem;
$reline-navbar-height-lg: 4rem;

:root {
  --reline-navbar-height: #{$reline-navbar-height};

  @include media-breakpoint-up(lg) {
    --reline-navbar-height: #{$reline-navbar-height-lg};
  }
}

.navbar.fixed-top {
  min-height: var(--reline-navbar-height);
}

body {
  padding-top: var(--reline-navbar-height);
}

html {
  scroll-padding-top: var(--reline-navbar-height);
}

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

@media (prefers-reduced-motion: reduce) {
  .fade-in {
    opacity: 1;
    transition: none;
  }

  .fade-in-up {
    transform: none;
  }
}

.web-font {
  font-family: 'Hachi Maru Pop', cursive;
}

.meiryo-font {
  font-family: Meiryo, sans-serif;
}

.feedback-input {
  resize: none;
  height: 280px;
}
